<!DOCTYPE html>

<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>
    <%= community %>
  </title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" type="text/css" rel="stylesheet"
    media="screen,projection" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
        <%= community %>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/invite">Get an invitation</a>
        </li>
        <li>
          <a href="/groups">Join a group</a>
        </li>
        <% if (!userProfile) { %>
          <li>
            <a href="/login" class="sabius-red-text">
              <i class="material-icons right">perm_identity</i>Login</a>
          </li>
          <% } %>
            <% if (!!userProfile) { %>
              <li>
                <a href="/logout" class="sabius-red-text">Salir</a>
              </li>
              <% } %>
                <% if (!!userProfile) { %>
                  <li>
                    <div class="login-photo">
                      <img alt="user photo" src='<%=user.picture%>'>
                    </div>
                  </li>
                  <% } %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li>
          <a href="/invite">Get an invitation</a>
        </li>
        <li>
          <a href="/groups">Join a group</a>
        </li>
        <% if (!userProfile) { %>
          <li>
            <a href="/login" class="sabius-red-text">
              <i class="material-icons right">perm_identity</i>Login</a>
          </li>
          <% } %>
            <% if (!!userProfile) { %>
              <li>
                <a href="/logout" class="sabius-red-text">Salir</a>
              </li>
              <% } %>
                <% if (!!userProfile) { %>
                  <li>
                    <div class="login-photo">
                      <img alt="user photo" src='<%=user.picture%>'>
                    </div>
                  </li>
                  <% } %>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <br>
      <h1 class="header center blue-text">
        <%= community %>
      </h1>
      <div class="row center">
        <h5 class="header col s12 light">
        </h5>
      </div>
      <br>
      <br>

    </div>
  </div>

  <main>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3">
                <a class="active  blue-text" href="#members">Memebers</a>
              </li>
              <li class="tab col s3">
                <a class=" blue-text" href="#group">Groups</a>
              </li>
            </ul>
          </div>
          <div id="members" class="col s12">
            <div class="row card">
              <button class="btn-floating btn-large waves-effect waves-light green right" value="Refresh Page" onClick="window.location.reload()">
                <i class="material-icons">autorenew</i>
              </button>
              <% if (members.isFailed) { %>
                <h5 class="col s12 light">
                  <%= members.data %>
                </h5>
                <% } else { %>
                  <div class="col s12 m12">
                    <table class="responsive-table bordered highlight">
                      <% for(var i=0; i<members.data.length; i++) { %>
                        <tr>
                          <td>
                            <%= members.data[i].real_name %>
                          </td>
                          <td>
                            <input type="hidden" class="memberId" name="memberId" value="<%= members.data[i].id %>"></input>
                            <select class="groupId" class="input-field col s12" name="groupId">
                              <option value="" disabled selected>Select a group</option>
                              <% for(var j= 0; j< groups.data.length; j++ ) { %>
                                <option value="<%= groups.data[j].id %>"><%= groups.data[j].name %></option>
                                <% } %>
                            </select>
                          </td>
                          <td>
                            <button class="btn waves-effect waves-light orange join-btn <% if (members.data[i].groups.length > 0) { %> disabled <% } %>">Join</button>
                          </td>
                        </tr>
                        <% } %>
                    </table>
                  </div>
                  <% } %>
            </div>
          </div>
          <div id="group" class="col s12">
            <div class="row card">
              <button class="btn-floating btn-large waves-effect waves-light green right" value="Refresh Page" onClick="window.location.reload()">
                <i class="material-icons">autorenew</i>
              </button>
              <% if (members.isFailed) { %>
                <h5 class="col s12 light">
                  <%= members.data %>
                </h5>
                <% } else { %>
                  <div class="col s12 m12">
                    <table class="responsive-table bordered highlight">
                      <% for(var i=0; i<groups.data.length; i++) { %>
                        <tr>
                          <td>
                            <strong>
                              <%= groups.data[i].name %>
                            </strong>
                          </td>
                          <% for (var j=0; j< groups.data[i].members.length; j++ ) {%>
                            <td>
                              <%= groups.data[i].members[j].real_name %>
                                <input type="hidden" class="memberId" name="memberId" value="<%= groups.data[i].members[j].id %>"></input>
                                <input type="hidden" class="groupId" name="groupId" value="<%= groups.data[i].id %>"></input>
                                <button class="btn-floating waves-effect waves-light orange lighten-2 leave-btn">
                                  <i class="material-icons">clear</i>
                                </button>
                            </td>
                            <% } %>
                        </tr>
                        <% } %>
                    </table>
                  </div>
                  <% } %>
            </div>
            <div class="row center">
              <button id="createGroupsBtn" class="btn-large waves-effect waves-light orange">Create groups</button>
            </div>
          </div>
        </div>
  </main>

  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">
            <%= community %>
          </h5>
          <p class="grey-text text-lighten-4"></p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">

        <a class="grey-text text-lighten-4 right" href="http://www.isa.us.es">Made with (L) by ISA Group</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="js/init.js"></script>
  <script>
    $(".join-btn").click(function () {
      var $this = $(this);
      var params = {
        memberId: $(this).parent().parent().find(".memberId")[0].value,
        groupId: $(this).parent().parent().find(".groupId").find("select")[0].value
      };
      $.post('/api/v1/joinGroup', params, function (data) {
        console.log(data);
        if (!data.isFailed) {
          $this.addClass("disabled");
          Materialize.toast('This user has been successfully added to the group', 4000, 'light-blue')
        } else {
          Materialize.toast('An error has ocurred (' + data.data + ')', 4000, 'orange')
        }
      }).fail(function () {
        console.log(data);
        Materialize.toast(data, 4000, 'orange')
      });
    });

    $("#createGroupsBtn").click(function () {
      $.post('/api/v1/createGroups', {}, function (data) {
        console.log(data);
        if (!data.isFailed) {
          var gr = ''
          for (var i = 0; i < data.data.groups.length; i++) {
            if (i < data.data.groups.length - 1) {
              gr += (data.data.groups[i] + ', ')
            } else {
              gr += data.data.groups[i]
            }
          }
          Materialize.toast('These groups are going to be created: ' + gr, 4000, 'light-blue')
        } else {
          Materialize.toast('An error has ocurred (' + data.data + ')', 4000, 'orange')
        }
      }).fail(function () {
        Materialize.toast(data.data, 4000, 'orange')
      });
    });
    $(".leave-btn").click(function () {
      var $this = $(this);
      var params = {
        memberId: $(this).parent().find('.memberId')[0].value,
        groupId: $(this).parent().find('.groupId')[0].value
      };
      $.post('/api/v1/kickGroup', params, function (data) {
        console.log(data);
        if (!data.isFailed) {
          $this.parent().hide()
          Materialize.toast('This user has been successfully removed from the group', 4000, 'light-blue')
        } else {
          Materialize.toast('An error has ocurred (' + data.data + ')', 4000, 'orange')
        }
      }).fail(function () {
        console.log(data);
        Materialize.toast('An error has ocurred', 4000, 'orange')
      });
    });
  </script>

</body>

</html>