<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>
    Error
  </title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" type="text/css" rel="stylesheet"
    media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <br>
      <h1 class="header center blue-text">
        There are some errors
      </h1>
      <div class="row center">
        <h5 class="header col s12 light">
          <%= data.message%>
        </h5>
      </div>
      <div class="row center">
        <pre><%= data.error.stack %></pre>
      </div>
      <div class="row center">
        <h2 class="header center blue-text">
          <a href="/" id="home-button" class="btn-large waves-effect waves-light orange">Go home</a>
        </h2>
      </div>
    </div>
  </div>

  <main>
  </main>

  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">

          </h5>
          <p class="grey-text text-lighten-4"></p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <a class="grey-text text-lighten-4 right" href="http://www.isa.us.es">Made with 💓 by ISA Group</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="js/init.js"></script>

</body>

</html>