<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>
    <%= community %>
  </title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" type="text/css" rel="stylesheet"
    media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
        <%= community %>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/invite">Get an invitation</a>
        </li>
        <li>
          <a href="/groups">Join a group</a>
        </li>
        <% if (!userProfile) { %>
          <li>
            <a href="/login" class="sabius-red-text">
              <i class="material-icons right">perm_identity</i>Login</a>
          </li>
          <% } %>
            <% if (!!userProfile) { %>
              <li>
                <a href="/logout" class="sabius-red-text">Salir</a>
              </li>
              <% } %>
                <% if (!!userProfile) { %>
                  <li>
                    <div class="login-photo">
                      <img alt="user photo" src='<%=user.picture%>'>
                    </div>
                  </li>
                  <% } %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li>
          <a href="/invite">Get an invitation</a>
        </li>
        <li>
          <a href="/groups">Join a group</a>
        </li>
        <% if (!userProfile) { %>
          <li>
            <a href="/login" class="sabius-red-text">
              <i class="material-icons right">perm_identity</i>Login</a>
          </li>
          <% } %>
            <% if (!!userProfile) { %>
              <li>
                <a href="/logout" class="sabius-red-text">Salir</a>
              </li>
              <% } %>
                <% if (!!userProfile) { %>
                  <li>
                    <div class="login-photo">
                      <img alt="user photo" src='<%=user.picture%>'>
                    </div>
                  </li>
                  <% } %>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <br>
      <h1 class="header center blue-text">
        <%= community %>
      </h1>
      <div class="row center">
        <h5 class="header col s12 light">Get an instant access to your
          <%= community %> classroom in Slack
        </h5>
      </div>

      <br>
      <br>

    </div>
  </div>

  <main>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 ">
            <form method="post" action="/invite" id="join-form" class="form">
              <input type="email" name="email" autofocus="" placeholder="Enter your email" id="email">
              <input type="hidden" name="token" value="SOS1718" id="token">
              <button type="submit " class="btn-large waves-effect waves-light orange ">Get an invitation</button>
            </form>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>

  </main>

  <footer class="page-footer blue ">
    <div class="container ">
      <div class="row ">
        <div class="col l12 s12 ">
          <h5 class="white-text ">
            <%= community %>
          </h5>
          <p class="grey-text text-lighten-4 "></p>


        </div>
      </div>
    </div>
    <div class="footer-copyright ">
      <div class="container ">

        <a class="grey-text text-lighten-4 right " href="http://www.isa.us.es ">Made with (L) by ISA Group</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js "></script>
  <script src="js/init.js "></script>
  <script>
    var tokenRequired = false;
    var form = document.getElementById('join-form');
    var email = document.getElementById('slack-email');
    var token = document.getElementById('slack-token');
    form.addEventListener('submit', function (evt) {
      if (!email.value) {
        evt.preventDefault();
      }
      if (tokenRequired && !token.value) {
        evt.preventDefault();
      }
    });
  </script>

</body>

</html>