<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>
    <%= community %>
  </title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" type="text/css" rel="stylesheet"
    media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
        <%= community %>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/invite">Get an invitation</a>
        </li>
        <li>
          <a href="/groups">Join a group</a>
        </li>
        <% if (!userProfile) { %>
          <li>
            <a href="/login" class="sabius-red-text">
              <i class="material-icons right">perm_identity</i>Login</a>
          </li>
          <% } %>
            <% if (!!userProfile) { %>
              <li>
                <a href="/logout" class="sabius-red-text">Salir</a>
              </li>
              <% } %>
                <% if (!!userProfile) { %>
                  <li>
                    <div class="login-photo">
                      <img alt="user photo" src='<%=user.picture%>'>
                    </div>
                  </li>
                  <% } %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li>
          <a href="/invite">Get an invitation</a>
        </li>
        <li>
          <a href="/groups">Join a group</a>
        </li>
        <% if (!userProfile) { %>
          <li>
            <a href="/login" class="sabius-red-text">
              <i class="material-icons right">perm_identity</i>Login</a>
          </li>
          <% } %>
            <% if (!!userProfile) { %>
              <li>
                <a href="/logout" class="sabius-red-text">Salir</a>
              </li>
              <% } %>
                <% if (!!userProfile) { %>
                  <li>
                    <div class="login-photo">
                      <img alt="user photo" src='<%=user.picture%>'>
                    </div>
                  </li>
                  <% } %>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <br>
      <h1 class="header center blue-text">
        <%= community %>
      </h1>
      <div class="row center">
        <h5 class="header col s12 light">
          <%- data %>
        </h5>
      </div>
      <div class="row center">
        <a href="/groups" id="download-button" class="btn-large waves-effect waves-light orange">Are you ready? Join now a group</a>
      </div>
      <br>
      <br>

    </div>
  </div>

  <main>
    <!-- <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text">
              <i class="material-icons">flash_on</i>
            </h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.
              Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text">
              <i class="material-icons">group</i>
            </h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates
              components and animations that provide more feedback to users. Additionally, a single underlying responsive
              system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text">
              <i class="material-icons">settings</i>
            </h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are
              also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div> -->

  </main>

  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">
            <%= community %>
          </h5>
          <p class="grey-text text-lighten-4"></p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">

        <a class="grey-text text-lighten-4 right" href="http://www.isa.us.es">Made with (L) by ISA Group</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="js/init.js"></script>

</body>

</html>