/* Custom Stylesheet */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ff9800 ;
  -webkit-box-shadow: 0 1px 0 0 #ff9800 ;
  /* box-shadow: 0 1px 0 0 #ff9800 ; */
}

.dropdown-content li>span {
  color: #2196F3;
}

.tabs .indicator {
  background-color: #2196F3;
}

#createGroupsBtn{
  margin-top: 5%;
}

.leave-btn{
  margin-left: 2%;
}

.login-photo {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem auto;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.login-photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 3rem;
}